<div id='title'>
    <h1>Syntactic Sugar</h1> 
    <h3>"The bakery of the Gods"</h3>
</div>

<div id='small-title'>
    <h1>Syntactic Sugar</h1> 
    <h3>"The bakery of the Gods"</h3>
</div>
        
<div class='cookies'>
    <h2><%= @god_cookies.name %></h2>
    <p><%= @god_cookies.price %></p>
    <p><%= @god_cookies.description %></p>
</div> 
