<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="main.css">
    <meta charset="utf-8">
    <title>Syntactic Sugar</title>
  </head>
  <body>
    <%= yield %>
 <script src='main.js'></script>
</body>
</html>