<div class = 'background'>
    <form class='login' action='/' method='GET'>
        <input type='text' name='user' placeholder='Enter Username'><br>
        <input type='password' name='password' placeholder='Enter Password'><br>
        <input type='submit' name='password' placeholder='Enter Password'><br>
    </form>
<div>
