

<div class='form-background'>
     <form class='login' action='/' method='POST'>
            <input class='login__username' type='text' name='user' placeholder='Enter Username'><br>
            <input class='login__btn' type='submit' name='password' value='Enter Heaven'><br>
        </form>
</div>
