<div class='form-background'>
     <form class='search' action='/search' method='POST'>
            <input class='search__field' type='text' name='search' placeholder='Search for a Heavenly Treat'>
            <input class='search__btn' type='submit' value='Find Treat'>
        </form>
</div>
