.background {
    background-image: url('/images/background_images/lock_keyboard.jpg');
    background-size: cover;
    background-repeat: no-repeat center center fixed;
    height: 100vh;
    text-align: center;
}