body {
    background-image: url('/images/background_images/sugar_pile.jpg');
    background-color: black;
    background-size: cover;
    margin:0;
    background-repeat: no-repeat center center fixed;
    color: #D5A848;
    background-attachment: fixed;
    // overflow: ;
}

// ----------Mian title----------
#title {
    text-shadow: 3px 3px 3px black;
    font-family: miama;
    position: relative;
    text-align: center;
    display: none;
    animation: appear 2s forwards, disappear 2s forwards;
    animation-delay: 0s, 3s;
    h1 {
        font-size: 120pt;
    }
    h3 {
        font-size: 34pt;
        margin: 0;
        position: absolute;
        top: 310px;
        left: 320px;
        text-align: center;
    }
}

// ----------Subtitle----------
#small-title {
    backdrop-filter: blur(10px) brightness(1);
    margin: 0;
    text-shadow: 3px 3px 3px black;
    font-family: miama;
    position: relative;
    text-align: center;
    top: -20px;
    display: none;
    animation: appear 2s forwards;
    h1 {
        margin: 0;
        font-size: 26pt;
    }
    h3 {
        text-shadow: 1.5px 1.5px 1.5px black;
        position: absolute;
        top: 65px;
        left: 630px;
        margin: 0;
        font-size: 8pt;
        /* display: none; */
    }
}

// ----------Heading for each section----------
.pastry-category {
    text-shadow: 3px 3px 3px black;
    margin: 65px 0px -10px 0px;
    font-family: miama;
    font-size: 30pt;
    text-align: center;
    text-decoration: underline;
    display: none;
    animation: appear 2s forwards;
}

// ----------Cookies----------
#pastries--cookies {
    backdrop-filter: blur(10px) brightness(1);
    font-family: BonvenoCF;
    font-weight: bold;
    z-index: 1;
    display: none;
    text-align: center;
    // display: grid;
    grid-template: 100% / repeat(3, 33.3%);
    margin: 0;
    animation: appear 2s forwards;

    h2 {
        text-shadow: 1.5px 1.5px 1.5px black,
                     1.5px 1.5px 1.5px black;
        margin: 0;
        font-size: 21pt;
    }

    h3 {
        text-shadow: 1.5px 1.5px 1.5px black,
                     1.5px 1.5px 1.5px black;
        margin: 5px 0px 5px 0px;
        font-size: 20pt;
    }

    p {
        text-shadow: 1.5px 1.5px 1.5px black,
                     1.5px 1.5px 1.5px black;
        stroke-width: 10px;
        margin: 0;
        padding: 0px 25px 10px 25px;
    }
    .pastries__image {
    display: flex;
        justify-content: center;
        img {
            height: 250px;
        }
    }

    .pastries__hover :hover {
        cursor: pointer;
        border: 4px solid;
        animation: appear 1s forwards;
    }
    .pastries__oatmeal :hover{
        border: 0px;
    }

    .pastries__chocolatechip :hover {
        border: 0px;
    }
    .pastries__macaroon :hover {
        border: 0px;
    }

}

// ----------Muffins----------
#pastries--muffins {
    backdrop-filter: blur(10px) brightness(1);
    font-family: BonvenoCF;
    font-weight: bold;
    z-index: 1;
    display: none;
    text-align: center;
    // display: grid;
    grid-template: 100% / repeat(3, 33.3%);
    margin: 0;
    animation: appear 2s forwards;

    h2 {
        text-shadow: 1.5px 1.5px 1.5px black,
                     1.5px 1.5px 1.5px black;
        margin: 0;
        font-size: 21pt;
    }

    h3 {
        text-shadow: 1.5px 1.5px 1.5px black,
                     1.5px 1.5px 1.5px black;
        margin: 5px 0px 5px 0px;
        font-size: 20pt;
    }

    p {
        text-shadow: 1.5px 1.5px 1.5px black,
                     1.5px 1.5px 1.5px black;
        stroke-width: 10px;
        margin: 0;
        padding: 0px 25px 10px 25px;
    }
    .pastries__image {
    display: flex;
        justify-content: center;
        img {
            height: 300px;
        }
    }

    .pastries__hover :hover {
        cursor: pointer;
        border: 4px solid;
        animation: appear 1s forwards;
    }
    .pastries__banana :hover{
        border: 0px;
    }

    .pastries__morning {
        :hover {
            border: 0px;
        }
    }
    .pastries__coffee :hover {
        border: 0px;
    }
}

// ----------Cakes----------
#pastries--cakes {
    backdrop-filter: blur(10px) brightness(1);
    font-family: BonvenoCF;
    font-weight: bold;
    z-index: 1;
    display: none;
    text-align: center;
    // display: grid;
    grid-template: 100% / repeat(3, 33.3%);
    margin: 0;
    animation: appear 2s forwards;

    h2 {
        text-shadow: 1.5px 1.5px 1.5px black,
                     1.5px 1.5px 1.5px black;
        margin: 0;
        font-size: 21pt;
    }

    h3 {
        text-shadow: 1.5px 1.5px 1.5px black,
                     1.5px 1.5px 1.5px black;
        margin: 5px 0px 5px 0px;
        font-size: 20pt;
    }

    p {
        text-shadow: 1.5px 1.5px 1.5px black,
                     1.5px 1.5px 1.5px black;
        stroke-width: 10px;
        margin: 0;
        padding: 0px 25px 10px 25px;
    }
    .pastries__image {
    display: flex;
    justify-content: center;
    margin-top: 40px;
        img {
            height: 225px;
        }
    }

    .pastries__hover :hover {
        cursor: pointer;
        border: 4px solid;
        animation: appear 1s forwards;
    }
    .pastries__strawberry {
        :hover{
            border: 0px;
        }
    }
    

    .pastries__cheesecake {
        :hover {
            border: 0px;
        }
    }
    .pastries__malted {
        :hover {
            border: 0px;
        }
    }
    
}

/* ------------Animations------------ */
@keyframes appear {
    from {opacity: 0};
    to {opacity: 1;}
}

@keyframes disappear {
    from {opacity: 1;}
    to {opacity: 0;}
}


